.container {
	border: 1px solid rgb(12, 12, 12);
	margin: 12rem auto 0 auto;
	width: min-content;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

.block {
	height: 3rem;
	width: 3rem;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

.red {
	background-color: rgb(231, 23, 23);
}
